# Pin constrain for iCEHAX40 board.
# Capture clock at 48MHz from oscillator
set_io CAP_CLK D1

# Input pins for capturing
set_io CAP[0] B6
set_io CAP[1] A3
set_io CAP[2] A2
set_io CAP[3] A1
set_io CAP[4] B3
set_io CAP[5] B1
set_io CAP[6] C1
set_io CAP[7] C2

# UART<->FPGA
set_io TX	E1
set_io RX	E2

# LED status, Always on when idle. Off when capturing data and transmitting it back to PC.
set_io LED F2
